<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
<style>
    header{
        background: url(images/bkg-min.png);
    }
    nav {
        transition: .5s;
    }
    nav:not(.nav-fixed) {
        background: transparent;
    }
    .about .row p{
        font-size: 1em;
        font-family: "Sawarabi Gothic", sans-serif;
    }
</style>